<div class="row">

  <div class="columns medium-3">
    <%= image_tag @user.profile_picture_url %>
  </div>

  <div class="columns medium-9">
    <h1 class="sketch bold"><%= @user.nickname %></h1>
    <p><%= @user.points %> points</p>
    <p>Doodler since <%= @user.created_at.strftime("%B %e, %Y") %></p>

    <% if user_signed_in? && @user == current_user %>
      <button id="begin-drawing">Draw a new profile picture</button>
    <% end %>
  </div>

  <div class="columns small-12">

    <div id="profile-statistics" class="drawing-environment-hide row" data-doodleable-id=<%= @user.id %> data-doodleable-type="User">

      <div class="columns medium-6" id="points-chart">
        <h4 class="sketch headline"><%= @user == current_user ? "your" : "#{@user.nickname}'s" %> history</h4>
        <div id="stats-options" class="row">
          <div class="columns small-4">
            <button class="expand" id="doodles-per-day">doodles per day</button>
          </div>
          <div class="columns small-4">
            <button class="expand" id="points-per-day">points per day</button>
          </div>
          <div class="columns small-4">
            <button class="expand" id="points-over-time">points over time</button>
          </div>
        </div>
        <svg id="userstats"></svg>
      </div>

      <% if @user == current_user %>
        <div class="columns medium-6" id="leaderboard" data-userid=<%= @user.id %>>
          <h4 class="sketch headline">leaderboard</h4>
          <div id="leaderboard-options" class="row">
            <div class="columns small-6">
              <button class="expand" id="global">everyone</button>
            </div>
            <div class="columns small-6">
              <button class="expand" id="friends">just friends</button>
            </div>
          </div>
          <svg id="highscores"></svg>
        </div>
      <% else %>
        <div class="columns medium-6 doodle-grid" id="top-doodles">
          <h4 class="sketch headline"><%= @user.nickname %>'s top doodles</h4>
          <%= render "shared/doodle_grid", doodles: @user.top_doodles %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% if user_signed_in? && @user == current_user %>
  <div class="drawing-environment" data-doodleable-id=<%= @user.id %> data-doodleable-type="User">
  </div>
<% end %>
