<div class="row">

  <% if @user.profile_pictures.present? %>
    <div class="columns medium-3">
      <%= image_tag @user.profile_pictures.first.image.url %>
    </div>
  <% end %>

  <div class="columns medium-9">
    <h1 class="sketch bold"><%= @user.nickname %></h1>
    <p><%= @user.points %> points</p>
    <p>Doodler since <%= @user.created_at.strftime("%B %e, %Y") %></p>

    <% if user_signed_in? && @user == current_user %>
      <button id="begin-drawing">Draw a new profile picture</button>
    <% end %>
  </div>

  <div class="columns small-12">

    <div id="profile-statistics" class="drawing-environment-hide row" data-doodleable-id=<%= @user.id %> data-doodleable-type="User">

      <div class="columns medium-6" id="points-chart">
        <h4 class="sketch headline">your history</h4>
        <div id="stats-options" class="row">
          <div class="columns small-4">
            <button class="expand" id="doodles-per-day">doodles per day</button>
          </div>
          <div class="columns small-4">
            <button class="expand" id="points-per-day">points per day</button>
          </div>
          <div class="columns small-4">
            <button class="expand" id="points-over-time">points over time</button>
          </div>
        </div>
        <svg id="userstats"></svg>
      </div>

      <div class="columns medium-6" id="leaderboard">
        <svg id="highscores"></svg>
      </div>

    </div>
  </div>
</div>

<% if user_signed_in? && @user == current_user %>
  <div class="drawing-environment" data-doodleable-id=<%= @user.id %> data-doodleable-type="User">
  </div>
<% end %>
