<div class="row">
<div class="single-doodle medium-9 medium-centered small-12 columns" data-doodleid="<%= @doodle.id %>">
  <h1 class="sketch bold" id="doodle-title"><% if @doodle.doodleable_type == "Mission" %>
    <%= link_to "#{@doodle.user.nickname}'s", @doodle.user %> <%= link_to @doodle.doodleable.name, @doodle.doodleable %>
  <% else %>
    <%= link_to "#{@doodle.user.nickname}", @doodle.user %>
  <% end %> </h1>
  <div class="vote-buttons on-doodle">
    <p class="score"><span class="this-doodle-score"><%= @doodle.points %></span> points</p>
    <a href="#" class="vote on-doodle" data-votedirection="1"><i class="fa fa-thumbs-o-up"></i></a>
    <a href="#" class="vote on-doodle" data-votedirection="-1"><i class="fa fa-thumbs-o-down"></i></a>
  </div>

  <div class="image-container">
    <%= image_tag @doodle.image.url %>
  </div>


  <div id="comment-area">
    <h3 class="sketch">Comments</h3>

    <% @doodle.comments.each do |comment| %>
      <div class="comment" data-commentid="<%= comment.id %>">
        <%= image_tag comment.user.profile_picture_url, class: "profpic" %>
        <div class="comment-info">
          <h4><%= comment.user.nickname %></h4>
          <p>commented on <%= comment.created_at.strftime("%B %e") %> </p>
        </div>
        <div class="comment-body">
          <p><%= comment.body %> </p>
          <div class="comment-score">
            <span class="this-comment-score"><%= comment.points %></span> points
          </div>
          <div class="vote-buttons">
            <a href="#" class="vote on-comment" data-votedirection="1"><i class="fa fa-thumbs-o-up"></i></a>
            <a href="#" class="vote on-comment" data-votedirection="-1"><i class="fa fa-thumbs-o-down"></i></a>
          </div>
        </div>

      </div>
    <% end %>

  </div>

  <% if user_signed_in? %>
    <div id="comment-form">
      <textarea name="comment" id="comment-input"></textarea>
      <button id="comment-button">add comment</button>
    </div>
  <% end %>
</div>
</div>
