<div class="single-doodle" data-doodleId="{{id}}">
  <img src="{{uploaded_image}}" alt="{{user.name}}'s doodle">
  <h4><a href="/missions/{{mission_id}}/doodles/{{id}}">by {{user.name}}</a></h4>
  <p><span class="this-score">{{points}}</span> points</p>
  <p>
    <a class="vote" href="#" data-votedirection="1">Upvote</a>
    or
    <a class="vote" href="#" data-votedirection="-1">Downvote</a>
  </p>
</div>
