<div class="single-doodle row" data-doodleId="{{id}}">
  <div class="medium-1 column">
    <a class="vote on-doodle" href="#" data-votedirection="1"><i class="fa-caret-up fa"></i></a>
    </br>
    <a class="vote on-doodle" href="#" data-votedirection="-1"><i class="fa-caret-down fa"></i></a>
  </p>
  </div>

  <div class="medium-11 columns">
    <img src="{{uploaded_image}}" alt="{{user.name}}'s doodle">
    <h4>
      <a href="/missions/{{mission_id}}/doodles/{{id}}">by {{user.name}}</a>
    </h4>
    <p><span class="this-score">{{points}}</span> points</p>
  </div>

</div>



