<div class="single-doodle" data-doodleId="{{id}}">
  <img src="{{uploaded_image}}" alt="{{user.name}}'s doodle">
  <h4>{{user.email}}</h4>
  <p><span class="this-score">{{points}}</span> points</p>
  <p>
    <a class="vote" data-votedirection="1">Upvote</a>
    or
    <a class="vote" data-votedirection="-1">Downvote</a>
  </p>
</div>
