<div class="row">

  <div class="missions">
    <div class="column">
      <% if !user_signed_in? %>
        <h1 class="sketch" id="welcome">welcome to operation: doodle</h1>
        <div class="medium-9 medium-centered small-12 columns demo">
          <%= image_tag "demo.gif" %>
        </div>
      <% end %>
      <h4 class="sketch">open missions:</h4>
    </div>
    <% @open_missions.each do |mission| %>
      <div class="medium-3 columns">
        <div class="open-mission single-mission">
          <h3 class="sketch bold"><%= link_to mission.name, mission %></h3>
        </div>
      </div>
    <% end %>
  </div>

  <div class="missions">
    <div class="column">
      <h4 class="sketch">vote on a winner:</h4>
    </div>
    <% @votable_missions.each do |mission| %>
      <div class="medium-3 columns">
        <div class="votable-mission single-mission">
          <h3 class="sketch bold"><%= link_to mission.name, mission %></h3>
        </div>
      </div>
    <% end %>
  </div>

</div> <!-- end row -->

<div class="row recent doodle-grid">

  <% if user_signed_in? %>

    <div class="medium-6 columns">
      <div class="your-recent">
        <h4 class="sketch headline">your recent doodles</h4>
        <%= render 'shared/doodle_grid', doodles: current_user.recent_doodles %>
      </div>
    </div>

    <div class="medium-6 columns">
      <div class="friends-recent">
        <h4 class="sketch headline">your friends' doodles</h4>
        <%= render 'shared/doodle_grid', doodles: current_user.friends_recent_doodles %>
      </div>
    </div>

  <% end %>
  <div class="columns">
    <div class="recent">
      <h4 class="sketch headline">recent doodles from around the world</h4>
      <% @recent_doodles.each do |doodle| %>
        <div class="small-2 columns single-doodle">
          <%= link_to doodle do %>
            <%= image_tag doodle.image.url, class: "recent-image" %>
            <div class="doodle-info" style="display: none;">
              <% if doodle.doodleable_type == "Mission" %>
                <h4><%= doodle.doodleable.name %></h4>
                <p><%= doodle.points %> points</p>
              <% else %>
                <h4>PROFILE PICTURE</h4>
              <% end %>
              <p>by <%= doodle.user.nickname %></p>
              <p><%= doodle.comments.size %> comments</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
