<div class="row">

  <div class="columns">
    <h1 class="mission-name"><%= @mission.name %></h1>
  </div>
</div>

<div id="doodles" class="drawing-environment-hide" data-doodleable-id=<%= @mission.id %> data-doodleable-type="Mission">
  <% if user_signed_in? && @mission.open? %>
    <button id="begin-drawing">doodle it!</button>
  <% elsif !@mission.open? %>
    <button href="#" class="disabled">Mission closed</button>
  <% elsif !user_signed_in? %>
    <%= button_to "Sign in with facebook", user_omniauth_authorize_path(:facebook), class: "button" %>
  <% end %>

  <% @doodles.each do |doodle| %>
    <div class="single-doodle row" data-doodleId=<%= doodle.id %> >
      <div class="medium-1 column">
        <a class="vote on-doodle" href="#" data-votedirection="1"><i class="fa-caret-up fa"></i></a>
        </br>
        <a class="vote on-doodle" href="#" data-votedirection="-1"><i class="fa-caret-down fa"></i></a>
      </p>
      </div>

      <div class="medium-11 columns">
        <%= image_tag doodle.image.url %>
        <h4>
          <%= link_to "Created by #{doodle.user.nickname}", doodle %>
        </h4>
        <p><span class="this-score"><%= doodle.points %></span> points</p>
      </div>
    </div>
  <% end %>
</div>

<div class="drawing-environment row">
  <div class="column">
    <div class="buttons" id="finish-doodle">
    </div>
  </div>
</div>
