<div class="row">

  <div class="columns">
    <h1 class="mission-name">operation: <%= @mission.name %></h1>
    <span id="right-button">
    <% if user_signed_in? && @mission.open? %>
      <button id="begin-drawing">doodle it!</button>
    <% elsif !@mission.open? %>
      <button href="#" class="disabled">Mission closed</button>
    <% elsif !user_signed_in? %>
      <%= button_to "Sign in with facebook", user_omniauth_authorize_path(:facebook), class: "button" %>
    <% end %>
    </span>
  </div>
</div>

<div class="row">
  <div id="doodles" class="drawing-environment-hide medium-9 medium-centered small-12 columns">
    <% if @doodles.length == 0 %>
      <h5 id="notice">No doodles yet... be the first!</h5>
    <% end %>


    <% @doodles.each do |doodle| %>
      <div class="single-doodle" data-doodleId=<%= doodle.id %>>
        <div class="image-container">
          <%= image_tag doodle.image.url %>
        </div>

        <h4 class="doodle-information">
          <%= link_to "#{doodle.user.nickname}'s #{@mission.name}", doodle.user %>
        </h4>

        <h4 class="doodle-information right">
          <a class="vote on-doodle" href="#" data-votedirection="1">
            <i class="fa-thumbs-o-up fa"></i>
          </a>
          <a class="vote on-doodle" href="#" data-votedirection="-1">
            <i class="fa-thumbs-o-down fa"></i>
          </a>
        </h4>

        <p>
          <span class="this-score">
            <%= doodle.points %>
          </span>
          points / <%= link_to "#{doodle.comments.size} comments", doodle %>
        </p>

      </div>
    <% end %>
  </div>

  <% if user_signed_in? && @mission.open? %>
    <div class="drawing-environment medium-9 medium-centered small-12 columns" data-doodleable-id=<%= @mission.id %> data-doodleable-type="Mission">
    </div>
  <% end %>
</div>
